<!-- this HTML.erb file is the html for the 'new' method from the pictures_controller.rb -->

<h1>Add a picture</h1>
<!-- adding a link to go index.html.erb file -->
<%= link_to "Back to Pictures", pictures_url %>


<%= form_for @picture do |f| %>
    <p>
      <%= f.label "artist" %><br>
      <%= f.text_field "artist" %>
    </p>
    <p>
      <%= f.label "title" %><br>
      <%= f.text_field "title" %>
    </p>
    <p>
      <%= f.label "url" %><br>
      <%= f.text_field "url" %>
    </p>
    <p>
      <%= f.submit "Save" %>
    </p>
<% end %>

<!-- Now the form is for @picture, which comes from the model in the controller. In other words the form is now
setup to work with the model. -->